* {
    box-sizing: border-box;
}

p {
    margin: 10px 0 !important;
}

.login-container {
    width: 400px;
    margin-top: 50px;
    text-align: center;
}

.fa-small {
    font-size: 16px !important;
}

.btn-float {
    float: left;
    margin-right: 10px;
}

.img-small {
    width: 180px;
}

.icon-red {
    color: red;
}

.small-image{
    width: 40px;
    border-radius: 50%;
}



.custom-card-main{
    background-color: green;
    height: 300px;
    border-radius: 20px;
}

.custom-card-main-row{
    height: 100%;
    /* border: 3px solid black; */
}

.custom-card-image{
    /* background-color: red; */
    height: 100%;

}

/* .custom-card-details{
    background-color: yellow;
    height: 100%;
    width: 100px;
} */
.book-title{
    color: cornflowerblue;
}