<!DOCTYPE html>
<html lang="en">

    <head>
        <%- include('../partials/head.ejs') %>
    </head>

    <body class="container">
        <header>
            <%- include('../partials/header.ejs') %>
        </header>
        <main>
            <div class="jumbotron">
                <h1 class="main-title">Books Bank</h1>
                <span class="fas fa-edit"></span>
                <h2>Here's how you set up and push to Heroku.</h2>
                <ul>
                    <li>git init</li>
                    <li>heroku login</li>
                    <li>heroku create</li>
                    <li>echo "web: node server.js" > Procfile</li>
                    <li>git add . </li>
                    <li>git commit -m "changes"</li>
                    <li>git push heroku main</li>
                </ul>
            </div>
        </main>

        <footer class="fixed-bottom">
            <%- include('../partials/footer.ejs') %>
        </footer>

        <script src='/main.js'></script>
    </body>

</html>