<!DOCTYPE html>
<html lang="en">

    <head>
        <%- include('../partials/head.ejs') %>
    </head>

    <body class="container">
        <main>
            <div class="jumbotron">
                <%- include('../partials/login.ejs') %>
            </div>
        </main>

        <footer>
            <%- include('../partials/footer.ejs') %>
        </footer>

        <script src='/main.js'></script>
    </body>

</html>